.wrapper {
   max-width: 1440px;
   margin: auto;
   font-family: 'Monserrat';
   display: flex;
   flex-direction: column;
}

.ellipse {
   width: 800px;
   height: 800px;
   border-radius: 800px;
   background: linear-gradient(180deg, rgb(245, 222, 222) 0%, rgba(157, 157, 157, 0.00) 100%);
   position: absolute;
   z-index: -1;
   right: 143px;
   top: -179px;
}

.blue {
   color: blue;
}

.btn:hover {
   background-color: rgb(241, 105, 105);
   transition-duration: 0.3s;
}

@font-face {
   font-family: "Monserrat";
   src: url("../font/Montserrat/Montserrat-Regular.ttf");
   font-style: normal;
   font-weight: normal;
}

.header-wrapper {
   position: sticky;
   top: 0px;
   margin: auto;
   font-family: 'Monserrat';
   z-index: 100;
   background-color: rgba(255, 255, 255, 0.849);

}

.header {
   display: flex;
   justify-content: space-evenly;
}

.header__button {
   margin: 16px 0 0;
   padding: 0px 24px;
   height: 46px;
   justify-content: center;
   align-items: center;
   background: #000;
   color: #FFF;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   font-family: 'Monserrat';
}

.logo {
   color: #000;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.nav {
   display: flex;
}

.nav__elem {
   margin: 10px 15px 0;
   list-style-type: none;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}


.first-block {
   display: flex;
   justify-content: center;
   font-family: 'Monserrat';
}

.fb-left {
   margin: 160px 0 0 0;
   font-family: 'Monserrat';
}

.main-text {
   color: #000;
   font-family: 'Monserrat';
   font-size: 64px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   max-width: 472px;
}

.main-subtext {
   font-family: 'Monserrat';
   color: #000;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.fb-right {
   font-family: 'Monserrat';
   max-width: 718.875px;
   min-height: 868.35px;
   margin: 60px 0 0 0;
   display: flex;
}

.main-button {
   margin: 16px 0 0;
   padding: 0px 24px;
   height: 46px;
   justify-content: center;
   align-items: center;
   background: #000;
   color: #FFF;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   font-family: 'Monserrat';
}

.img1 {
   width: 288px;
   height: 546px;
   flex-shrink: 0;
   border-radius: 128px 32px 32px 32px;
   background: url(../img/image\ 2.png), lightgray 50% / cover no-repeat;
   margin: 0 64px 64px 0;
}

.img2 {
   width: 260px;
   height: 177px;
   border-radius: 32px 32px 32px 128px;
   flex-shrink: 0;
   margin: 0 0 0 30px;
   background: url(../img/image\ 3.png), lightgray 50% / cover no-repeat;
}

.img3 {
   width: 260px;
   height: 178px;
   flex-shrink: 0;
   margin: 32px 0 64px 0;
   border-radius: 32px 128px 32px 32px;
   background: url(../img/image\ 1.png), lightgray 50% / cover no-repeat;
}

.img4 {
   width: 284px;
   height: 561px;
   flex-shrink: 0;
   border-radius: 32px 32px 128px 32px;
   background: url(../img/image\ 4.png), lightgray 50% / cover no-repeat;
}

.hit-text {
   color: #000;
   font-size: 64px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   display: flex;
   justify-content: center;
   text-align: center;
}

.hit-subtext {
   display: flex;
   margin: -50px 0 80px 0;
   justify-content: center;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

}

.hit-button {
   display: flex;
   padding: 12px 24px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin: 15px auto;
   background: #000;
   font-family: 'Monserrat';
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: #FFF;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   max-width: 1440px;
   justify-content: center;
}

.card1 {
   background: url(../img/Rectangle\ 19.png), lightgray 50% / cover no-repeat;
}

.card2 {
   background: url(../img/Rectangle\ 2.png), lightgray 50% / cover no-repeat;
}

.card3 {
   background: url(../img/Rectangle\ 3.png), lightgray 50% / cover no-repeat;
}

.card4 {
   background: url(../img/image\ 5.png), lightgray 50% / cover no-repeat;
}

.card5 {
   background: url(../img/image\ 6.png), lightgray 50% / cover no-repeat;
}

.card6 {
   background: url(../img/image\ 7.png), lightgray 50% / cover no-repeat;
}

.card {
   width: 340px;
   height: 474px;
   margin: 0 32px 42px 0;
}

.card-image {
   width: 320px;
   height: 330px;
   flex-shrink: 0;
   filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
   border-radius: 32px;
}

.card-info {
   max-width: 320px;
   min-height: 208px;
   flex-shrink: 0;
   border-radius: 32px;
   background: #FFF;
   margin: -64px 0px 0px 20px;
   box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.card-text {
   color: #000;
   padding: 84px 0 0 0;
   text-align: center;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.card-button {
   display: inline-flex;
   padding: 12px 24px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin: 10px 0 0 106px;
   background: #000;
   font-family: 'Monserrat';
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: #FFF;
}

.third-block {
   display: flex;
   flex-direction: column;
   max-width: 1440px;
   justify-content: center;
}

.why-we-text {
   font-size: 64px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   justify-content: center;
   margin: 96px auto 32px;
}

.ww-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.ww-card {
   width: 352px;
   height: 360px;
   background: #F4F4F4;
   border-radius: 128px 24px 24px 24px;
   box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
   display: flex;
   margin: 20px 20px;
   flex-direction: column;
}

.ww-image {
   width: 130px;
   height: 130px;
   justify-content: center;
   margin: 40px auto 0;
}

.ww-image1 {
   background: url(../img/image\ 8.png);
}

.ww-image2 {
   background: url(../img/image\ 9.png);
}

.ww-image3 {
   background: url(../img/image\ 10.png);
}

.ww-card-text {
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   justify-content: center;
   margin: 10px auto;
}

.ww-card-subtext {
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   max-width: 330px;
   line-height: normal;
   justify-content: center;
   text-align: center;
   margin: 0 auto;
}

.ww-blocks {
   background: #F6F6F6;
   max-width: 1120px;
   padding: 41px 80px 71px;
   display: flex;
   margin: 80px 10%;
   justify-content: space-between;
   flex-direction: row;
   text-align: center;
}

.ww-block-text {
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-align: center;
}

.ww-block-subtext {
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: center;
}

.fourth-block {
   max-width: 1440px;
   justify-content: center;
   display: flex;
}

.fb-image {
   display: flex;
   text-align: center;
   width: 544px;
   height: 598px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   margin: 0 auto;
   border-radius: 64px 128px;
   background: url(../img/image\ 11.png), lightgray 50% / cover no-repeat;
}

.fb-buy {
   display: flex;
   margin: auto 25px;
   flex-direction: column;
}

.fb-text {
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.fb-name {
   max-width: 532px;
   min-height: 58px;
   border-radius: 10px;
   border: 2px solid #818181;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 24px;
   font-style: normal;
   padding: 0 0 0 20px;
   font-weight: 300;
   line-height: normal;
}

.fb-num {
   max-width: 532px;
   min-height: 58px;
   padding: 0 0 0 20px;
   border-radius: 10px;
   border: 2px solid #818181;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 24px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.fb-photo {
   max-width: 532px;
   padding: 13px 0 14px 20px;
   border-radius: 10px;
   border: 2px solid #818181;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 24px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.fb-file {
   display: none;
}

.fb-button {
   display: flex;
   padding: 12px 24px;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 10px;
   max-width: 200px;
   background: #000;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: #FFF;
   font-family: 'Monserrat';
}

.fb {
   margin: 21px 0;
}

.sixth-block {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.si-title {
   text-align: center;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   margin: 150px 0px 50px 0px;
   line-height: normal;
}

.si-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.si-card {
   width: 352px;
   height: 308px;
   border-radius: 96px;
   background: #FFF;
   margin: 30px 20px;
   box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.si-text {
   margin-top: 82px;
   max-width: 352px;
   color: #000;
   text-align: center;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.stars {
   min-height: 40px;
   margin: 15px auto;
   display: flex;
   justify-content: center;
}

.star {
   width: 40px;
   height: 40px;
   background: url(../img/image\ 12.png);
}

.name {
   max-width: 352px;
   color: #000;
   text-align: center;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   margin: 14px 0 0;
   line-height: normal;
}

.si-image {
   border-radius: 360px;
   width: 96px;
   height: 96px;
   background: url(../img/image\ 4.png);
   margin: 0px auto 0px;
}

.si-sec {
   display: flex;
   margin-top: 150px;
   justify-content: center;
}

.si-img {
   display: flex;
   width: 454px;
   height: 537px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   margin: 0 25px;
   border-radius: 192px 32px 32px 192px;
   background: url(../img/image\ 16.png), lightgray 50% / cover no-repeat;
}

.si-buy {
   display: flex;
   flex-direction: column;
}

.si-buy-text {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.si-buy-subtext {
   color: #000;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.si-name {
   max-width: 532px;
   min-height: 58px;
   border-radius: 10px;
   border: 2px solid #818181;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 24px;
   font-style: normal;
   padding: 0 0 0 20px;
   font-weight: 300;
   line-height: normal;
}

.si-num {
   max-width: 532px;
   min-height: 58px;
   padding: 0 0 0 20px;
   border-radius: 10px;
   border: 2px solid #818181;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 24px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.si-tas {
   max-width: 532px;
   min-height: 58px;
   border-radius: 10px;
   border: 2px solid #818181;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 24px;
   font-style: normal;
   padding: 0 0 0 20px;
   font-weight: 300;
   line-height: normal;
}

.si-button {
   display: flex;
   padding: 12px 24px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   max-width: 200px;
   background: #000;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: #FFF;
   font-family: 'Monserrat';
}

.si {
   margin: 21px 0;
}

.seventh-block {
   display: flex;
   flex-direction: column;
}

.blog-title {
   font-size: 48px;
   margin: 150px 0 50px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-align: center;
}

.blog-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.blog-card {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 20px;
}

.blog-image1 {
   width: 352px;
   height: 372px;
   background: url(../img/image\ 13.png), lightgray 50% / cover no-repeat;
}

.blog-image2 {
   width: 352px;
   height: 372px;
   background: url(../img/image\ 14.png), lightgray 50% / cover no-repeat;
}

.blog-image3 {
   width: 352px;
   height: 372px;
   background: url(../img/image\ 15.png), lightgray 50% / cover no-repeat;
}

.blog-text {
   background: linear-gradient(0deg, #EBEBEB 0%, #EBEBEB 100%), linear-gradient(0deg, #EBEBEB 0%, #EBEBEB 100%), linear-gradient(0deg, #EBEBEB 0%, #EBEBEB 100%), #EBEBEB;
   height: 84px;
   display: flex;
   max-width: 352px;
   min-height: 84px;
   flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
   text-align: center;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.blog-button {
   padding: 12px 24px;
   justify-content: center;
   align-items: center;
   background: #000;
   color: #FFF;
   font-family: 'Monserrat';
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin: 30px auto 0;
}

.eight-block {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 150px auto 0;
}

.eb-block1 {
   max-width: 758px;
   min-height: 105px;
   margin-bottom: 88px;
}

.eb-1-title {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 22px;
}

.eb-1-text {
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.eb-block2 {
   max-width: 1120px;
   min-height: 490px;
   display: flex;
   justify-content: space-between;
}

.eb-block2-1 {
   max-width: 399px;
   min-height: 372px;
}

.eb-block2-1-1 {
   max-width: 296px;
   min-height: 183px;
   margin-bottom: 88px;
}

.eb-2-1-1-title {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 22px;
}

.eb-2-1-1-text {
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.eb-block2-1-2 {
   max-width: 399px;
   min-height: 105px;
}

.eb-2-1-2-title {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 22px;
}

.eb-2-1-2-text {
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.eb-block2-2 {
   border-radius: 32px;
   width: 544px;
   height: 490px;
   background: url(../img/Rectangle\ 12.png);
}

.eb-block3 {
   max-width: 1050px;
   min-height: 180px;
}

.eb-3-title {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.eb-3-text {
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.footer {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.info-blocks {
   display: flex;
}

.info-block {
   margin: 60px auto 106px;
   max-width: 288px;
}

.info-block-title {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 22px;
}

.info-blokc-text {
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.down-text {
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: center;
}


.b {
   display: none;
}

.fifth-block {
   display: flex;
   max-width: 1440px;
   flex-direction: column;
   justify-content: center;
   margin-top: 100px
}

.fi-title {
   font-size: 50px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-align: center;
   justify-content: center;
}

.fi-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.fi-card {
   width: 256px;
   height: 316px;
   margin: 0 auto;
   justify-content: center;
   display: flex;
   flex-direction: column;
   margin: 0 40px;
}

.fi-ellipse {
   width: 96px;
   margin-left: 96px;
   z-index: 3;
   background: white;
   height: 96px;
   border-radius: 96px;
   box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25) inset;
   filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.fi-num {
   font-size: 50px;
   font-style: normal;
   align-items: center;
   font-weight: 700;
   line-height: normal;
   text-align: center;
   margin-top: 20px;
}

.fi-text-block {
   background: linear-gradient(180deg, #A1BCFF 0%, rgba(171, 195, 255, 0.81) 47.5%, rgba(197, 213, 255, 0.57) 100%);
   width: 256px;
   height: 203px;
   padding: 50px 20px 0px 20px;
   border-radius: 96px;
   margin: -45px 0 40px;
}

.fi-text {
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 20px;
   text-align: center;
}

.fi-suntext {
   text-align: center;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}




@media screen and (max-width: 1150px) {

   .fb-image {
      display: flex;
      width: 330px;
      height: 360px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 80px 20px 0;
      border-radius: 64px;
      background: url(../img/image\ 11.png);
      background-size: contain;
   }

   .fb-buy {
      display: flex;
      margin: auto 15px;
      flex-direction: column;
   }

   .fb-text {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .fb-name {
      width: 432px;
      height: 58px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .fb-num {
      width: 432px;
      height: 58px;
      padding: 0 0 0 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .fb-photo {
      width: 432px;
      padding: 13px 0 14px 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .main-text {
      color: #000;
      font-family: 'Monserrat';
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 472px;
   }

   .main-subtext {
      font-family: 'Monserrat';
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .fb-right {
      font-family: 'Monserrat';
      width: 575.1px;
      height: 694.68px;
      margin: 60px 0 0 0;
      display: flex;
   }

   .main-button {
      margin: 16px 0 0;
      padding: 0px 24px;
      height: 46px;
      justify-content: center;
      align-items: center;
      background: #000;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: 'Monserrat';
   }

   .img1 {
      width: 230.4px;
      height: 436.8px;
      flex-shrink: 0;
      border-radius: 128px 32px 32px 32px;
      background: url(../img/image\ 2.png), lightgray 50% / cover no-repeat;
      margin: 0 64px 64px 0;
      background-size: contain;
   }

   .img2 {
      width: 208px;
      height: 141.6px;
      border-radius: 32px 32px 32px 128px;
      flex-shrink: 0;
      margin: 0 0 0 30px;
      background: url(../img/image\ 3.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .img3 {
      width: 208px;
      height: 142.4px;
      flex-shrink: 0;
      margin: 32px 0 64px 0;
      border-radius: 32px 128px 32px 32px;
      background: url(../img/image\ 1.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .img4 {
      width: 227.2px;
      height: 448.8px;
      flex-shrink: 0;
      border-radius: 32px 32px 128px 32px;
      background: url(../img/image\ 4.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .eb-block2 {
      max-width: 1120px;
      min-height: 490px;
      display: flex;
   }

   .eb-block2-1 {
      max-width: 399px;
      min-height: 372px;
   }

   .eb-block2-1-1 {
      max-width: 296px;
      min-height: 183px;
      margin-bottom: 88px;
   }

   .eb-2-1-1-title {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .eb-2-1-1-text {
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .eb-block2-1-2 {
      max-width: 399px;
      min-height: 105px;
   }

   .eb-2-1-2-title {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .eb-2-1-2-text {
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .eb-block2-2 {
      border-radius: 32px;
      width: 435.2px;
      height: 392px;
      background: url(../img/Rectangle\ 12.png);
      background-size: contain;
   }

   .si-img {
      display: flex;
      width: 357.2px;
      height: 429.6px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 0 25px;
      border-radius: 192px 32px 32px 192px;
      background: url(../img/image\ 16.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }


   .si-buy-text {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .si-buy-subtext {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }

   .si-name {
      width: 432px;
      height: 58px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .si-num {
      width: 432px;
      height: 58px;
      padding: 0 0 0 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .si-tas {
      width: 432px;
      height: 58px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .si-button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      max-width: 200px;
      background: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
      font-family: 'Monserrat';
   }

   .a {
      display: none;
   }
}

@media screen and (max-width: 1000px) {

   .fb-left {
      margin: 100px 0 -100px 100px;
      font-family: 'Monserrat';
   }

   .main-text {
      color: #000;
      font-family: 'Monserrat';
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      max-width: 212px;
      margin-right: 100px;
   }

   .main-subtext {
      font-family: 'Monserrat';
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      max-width: 212px;
      line-height: normal;
   }


   .img1 {
      width: 144px;
      height: 273px;
      flex-shrink: 0;
      border-radius: 128px 32px 32px 32px;
      background: url(../img/image\ 2.png), lightgray 50% / cover no-repeat;
      margin: 0 64px 64px 0;
      background-size: contain;
   }

   .img2 {
      width: 130px;
      height: 88.5px;
      border-radius: 32px 32px 32px 128px;
      flex-shrink: 0;
      margin: 0 0 0 30px;
      background: url(../img/image\ 3.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .img3 {
      width: 130px;
      height: 89px;
      flex-shrink: 0;
      margin: 32px 0 64px 0;
      border-radius: 32px 128px 32px 32px;
      background: url(../img/image\ 1.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .img4 {
      width: 142px;
      height: 280.5px;
      flex-shrink: 0;
      border-radius: 32px 32px 128px 32px;
      background: url(../img/image\ 4.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .second-block {
      margin: -230px 0 0;
   }

   .header__button {
      margin: 12px 0 0;
      padding: 0px 20px;
      height: 46px;
      justify-content: center;
      align-items: center;
      background: #000;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: 'Monserrat';
   }

   .logo {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .nav__elem {
      margin: 10px 15px 0;
      list-style-type: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .info-block {
      margin: 60px auto 106px;
      max-width: 188px;
   }

   .info-block-title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .info-blokc-text {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .down-text {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
   }
}

@media screen and (max-width: 900px) {
   .si-img {
      display: flex;
      width: 295.1px;
      height: 349.05px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 50px 0 0 25px;
      border-radius: 192px 32px 32px 192px;
      background: url(../img/image\ 16.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .si-buy-text {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .si-buy-subtext {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }

   .si-name {
      max-width: 332px;
      min-height: 38px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .si-num {
      max-width: 332px;
      min-height: 38px;
      padding: 0 0 0 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .si-tas {
      max-width: 332px;
      min-height: 38px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .si-button {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      background: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
      font-family: 'Monserrat';
   }

   .si {
      margin: 10px 0;
   }

   .header__button {
      margin: 16px 0 0;
      padding: 0px 20px;
      height: 36px;
      justify-content: center;
      align-items: center;
      background: #000;
      color: #FFF;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: 'Monserrat';
   }

   .logo {
      color: #000;
      font-size: 16px;
      margin: 8px 0 0;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }


   .nav__elem {
      margin: 10px 15px 0;
      list-style-type: none;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .third-block {
      display: flex;
      flex-direction: column;
      max-width: 1440px;
      justify-content: center;
   }

   .why-we-text {
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      justify-content: center;
      margin: 96px auto 32px;
   }

   .ww-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .ww-card {
      width: 352px;
      height: 360px;
      background: #F4F4F4;
      border-radius: 128px 24px 24px 24px;
      box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      margin: 20px 20px;
      flex-direction: column;
   }

   .ww-image {
      width: 130px;
      height: 130px;
      justify-content: center;
      margin: 40px auto 0;
   }

   .ww-image1 {
      background: url(../img/image\ 8.png);
   }

   .ww-image2 {
      background: url(../img/image\ 9.png);
   }

   .ww-image3 {
      background: url(../img/image\ 10.png);
   }

   .ww-card-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      justify-content: center;
      margin: 10px auto;
   }

   .ww-card-subtext {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      max-width: 330px;
      line-height: normal;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
   }

   .ww-blocks {
      background: #F6F6F6;
      max-width: 1120px;
      padding: 41px 80px 71px;
      display: flex;
      margin: 80px 10%;
      justify-content: space-between;
      flex-direction: row;
      text-align: center;
   }

   .ww-block-text {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
   }

   .ww-block-subtext {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
   }

   .fourth-block {
      max-width: 1440px;
      justify-content: center;
      display: flex;
   }

   .fb-image {
      display: flex;
      width: 272px;
      height: 299px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 40px 25px 0;
      border-radius: 64px;
      background: url(../img/image\ 11.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .fb-buy {
      display: flex;
      margin: auto 25px;
      flex-direction: column;
   }

   .fb-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .fb-name {
      max-width: 332px;
      min-height: 58px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .fb-num {
      max-width: 332px;
      min-height: 58px;
      padding: 0 0 0 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .fb-photo {
      max-width: 332px;
      padding: 13px 0 14px 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }


   .fb-button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      max-width: 200px;
      background: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
      font-family: 'Monserrat';
   }

   .fb {
      margin: 10px 0;
   }

   .eb-block1 {
      max-width: 758px;
      min-height: 105px;
      margin-bottom: 44px;
   }

   .eb-1-title {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .eb-1-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .eb-block2 {
      max-width: 1120px;
      min-height: 490px;
      display: flex;
      justify-content: space-between;
   }

   .eb-block2-1 {
      max-width: 399px;
      min-height: 372px;
   }

   .eb-block2-1-1 {
      max-width: 296px;
      min-height: 183px;
      margin-bottom: 44px;
   }

   .eb-2-1-1-title {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .eb-2-1-1-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .eb-block2-1-2 {
      max-width: 399px;
      min-height: 105px;
   }

   .eb-2-1-2-title {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .eb-2-1-2-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .eb-block2-2 {
      border-radius: 32px;
      width: 353.6px;
      height: 318.5px;
      background: url(../img/Rectangle\ 12.png);
      background-size: contain;
   }

   .eb-block3 {
      max-width: 1050px;
      min-height: 180px;
   }

   .eb-3-title {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .eb-3-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .a {
      display: none;
   }
}

@media screen and (max-width: 800px) {

   .fb-left {
      margin: 100px 0 -100px 1%;
      font-family: 'Monserrat';
   }

   .main-text {
      color: #000;
      font-family: 'Monserrat';
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      max-width: 212px;
   }

   .main-subtext {
      font-family: 'Monserrat';
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      max-width: 212px;
      line-height: normal;
   }


   .img1 {
      width: 144px;
      height: 273px;
      flex-shrink: 0;
      border-radius: 128px 32px 32px 32px;
      background: url(../img/image\ 2.png), lightgray 50% / cover no-repeat;
      margin: 0 64px 64px 0;
      background-size: contain;
   }

   .img2 {
      width: 130px;
      height: 88.5px;
      border-radius: 32px 32px 32px 128px;
      flex-shrink: 0;
      margin: 0 0 0 30px;
      background: url(../img/image\ 3.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .img3 {
      width: 130px;
      height: 89px;
      flex-shrink: 0;
      margin: 32px 0 64px 0;
      border-radius: 32px 128px 32px 32px;
      background: url(../img/image\ 1.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .img4 {
      width: 142px;
      height: 280.5px;
      flex-shrink: 0;
      border-radius: 32px 32px 128px 32px;
      background: url(../img/image\ 4.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

}

@media screen and (max-width: 750px) {
   .fb-left {
      margin: 100px 0 -100px 15%;
      font-family: 'Monserrat';
   }

   .main-text {
      color: #000;
      font-family: 'Monserrat';
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      max-width: 212px;
   }

   .main-subtext {
      font-family: 'Monserrat';
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      max-width: 212px;
      line-height: normal;
   }


   .img1 {
      display: none;
   }

   .img2 {
      display: none;
   }

   .img3 {
      display: none;
   }

   .img4 {
      display: none;
   }

   .header__button {
      margin: 16px 0 0;
      padding: 0px 20px;
      height: 36px;
      justify-content: center;
      align-items: center;
      background: #000;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: 'Monserrat';
   }

   .logo {
      color: #000;
      font-size: 20px;
      margin: 3px 0 0;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .nav__elem {
      display: none;
   }


   .hit-text {
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      justify-content: center;
      text-align: center;
   }

   .hit-subtext {
      display: flex;
      margin: -10px 0 80px 0;
      justify-content: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .ww-blocks {
      flex-direction: column;
      background: none;
      margin-top: -40px;
   }

   .ww-block {
      padding: 20px 0;
      margin: 30px 0;
      background: #F6F6F6;
   }

   .fourth-block {
      flex-direction: column;
      margin: 0 auto;
   }

   .fb-image {
      width: 352px;
      height: 386px;
      background-size: contain;
   }

   .si-title {
      font-size: 32px;
   }

   .si-img {
      border-radius: 32px;
      background: url(../img/image\ 16.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .si-sec {
      margin: 150px auto 0;
      flex-direction: column;
   }

   .si-buy-text {
      max-width: 356px;
   }

   .eight-block {
      margin-left: 20px;
   }

   .eb-block2 {
      flex-direction: column;
   }

   .eb-block2-2 {
      margin-bottom: 44px;
   }

   .info-blocks {
      flex-wrap: wrap;
   }

   .info-block {
      margin: 60px auto 106px;
      max-width: 180px;
   }

   .info-block-title {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .info-blokc-text {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}

@media screen and (max-width: 450px) {

   .main-text {
      color: #000;
      font-family: 'Monserrat';
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      max-width: 106px;
   }

   .main-subtext {
      font-family: 'Monserrat';
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .hit-text {
      color: #000;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      justify-content: center;
      text-align: center;
   }

   .hit-subtext {
      display: flex;
      margin: 30px 0 80px 0;
      justify-content: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

   }

   .card {
      width: 260px;
      height: 474px;
      margin: 0 auto;
   }

   .card-image {
      width: 240px;
      height: 240px;
      flex-shrink: 0;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 32px;
   }

   .card1 {
      background: url(../img/Rectangle\ 19.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .card2 {
      background: url(../img/Rectangle\ 2.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .card3 {
      background: url(../img/Rectangle\ 3.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .card4 {
      background: url(../img/image\ 5.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .card5 {
      background: url(../img/image\ 6.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .card6 {
      background: url(../img/image\ 7.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }


   .card-info {
      max-width: 320px;
      min-height: 208px;
      flex-shrink: 0;
      border-radius: 32px;
      background: #FFF;
      margin: -64px 0px 0px 20px;
      box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
   }

   .card-text {
      color: #000;
      padding: 84px 0 0 0;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .card-button {
      display: inline-flex;
      padding: 10px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 10px 0 0 57px;
      background: #000;
      font-family: 'Monserrat';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
   }

   .why-we-text {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      justify-content: center;
      margin: 96px auto 32px;
   }


   .ww-card {
      width: 320px;
      height: 320px;
      background: #F4F4F4;
      border-radius: 128px 24px 24px 24px;
      box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      margin: 20px 20px;
      flex-direction: column;
   }

   .ww-image {
      width: 130px;
      height: 130px;
      justify-content: center;
      margin: 40px auto 0;
   }

   .ww-image1 {
      background: url(../img/image\ 8.png);
   }

   .ww-image2 {
      background: url(../img/image\ 9.png);
   }

   .ww-image3 {
      background: url(../img/image\ 10.png);
   }

   .ww-card-text {
      font-size: 20x;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      justify-content: center;
      margin: 10px auto;
   }

   .ww-card-subtext {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      max-width: 330px;
      line-height: normal;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
   }


   .fb-buy {
      display: flex;
      margin: auto 25px;
      flex-direction: column;
   }

   .fb-text {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .fb-name {
      max-width: 282px;
      min-height: 58px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .fb-num {
      max-width: 282px;
      min-height: 58px;
      padding: 0 0 0 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .fb-photo {
      max-width: 282px;
      padding: 13px 0 14px 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .fb-image {
      width: 264px;
      height: 289.5px;
      background-size: contain;
   }

   .fb-button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      max-width: 200px;
      background: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
      font-family: 'Monserrat';
   }

   .si-title {
      font-size: 28px;
   }

   .si-buy-text {
      max-width: 256px;
      font-size: 20px;
   }

   .si-img {
      display: none;
   }

   .si-buy-subtext {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }

   .si-name {
      max-width: 232px;
      min-height: 58px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 16px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .si-num {
      max-width: 232px;
      min-height: 58px;
      padding: 0 0 0 20px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   .si-tas {
      max-width: 232px;
      min-height: 58px;
      border-radius: 10px;
      border: 2px solid #818181;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 16px;
      font-style: normal;
      padding: 0 0 0 20px;
      font-weight: 300;
      line-height: normal;
   }

   .si-button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      max-width: 200px;
      background: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
      font-family: 'Monserrat';
   }

   .blog-title {
      font-size: 36px;
      margin: 150px 0 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
   }

   .blog-image1 {
      width: 264px;
      height: 279px;
      background: url(../img/image\ 13.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .blog-image2 {
      width: 264px;
      height: 279px;
      background: url(../img/image\ 14.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .blog-image3 {
      width: 264px;
      height: 279px;
      background: url(../img/image\ 15.png), lightgray 50% / cover no-repeat;
      background-size: contain;
   }

   .blog-text {
      background: linear-gradient(0deg, #EBEBEB 0%, #EBEBEB 100%), linear-gradient(0deg, #EBEBEB 0%, #EBEBEB 100%), linear-gradient(0deg, #EBEBEB 0%, #EBEBEB 100%), #EBEBEB;
      height: 84px;
      display: flex;
      max-width: 264px;
      min-height: 84px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .eb-block2-2 {
      display: none;
   }

   .footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
   }

   .info-blocks {
      display: flex;
   }

   .info-block {
      margin: 60px auto 106px;
      max-width: 288px;
   }

   .info-block-title {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
   }

   .info-blokc-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   .down-text {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
   }
}

@media screen and (max-width: 600px) {
   .hit-button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 15px auto;
      background: #000;
      font-family: 'Monserrat';
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
   }
}


@media screen and (max-width: 440px) {
   .hit-button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 15px auto;
      background: #000;
      font-family: 'Monserrat';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #FFF;
   }
}